In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('data\IMDB Dataset.csv')

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\gayat\AppData\Local\Temp\ipykernel_31908\2708241081.py:1: SyntaxWarning: invalid escape sequence '\I'
  df = pd.read_csv('data\IMDB Dataset.csv')

In [5]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

### Lower Casing 
convert all the text into lowercase so that the algorithm does not treat the same words in different cases as different.

#### Importance 
1. Brings uniformity in the data 
2. Reduces the dimensionality: fewer unique words, the dimension of the text is reduced


This can be achieved by using lower() method in the python

In [6]:
df['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [7]:
df['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [8]:
df['review'] = df['review'].str.lower()

In [9]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

### Remove HTML tags 
when data got from web scraping, there are more chances it can contains HTML tags which is of no use in performing text related models, so we should remove the html tags using regex

In [13]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [14]:

html_text = "<html><body><p> Movie 1</p><p>Actor - Aamir Khan</p><p> Click here to <a href='http://www.google.com'>download</a> the movie</p></body></html>"

In [15]:
remove_html_tags(html_text)

' Movie 1Actor - Aamir Khan Click here to download the movie'

In [16]:
df['review'][1]

'a wonderful little production. <br /><br />the filming technique is very unassuming- very old-time-bbc fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />the actors are extremely well chosen- michael sheen not only "has got all the polari" but he has all the voices down pat too! you can truly see the seamless editing guided by the references to williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. a masterful production about one of the great master\'s of comedy and his life. <br /><br />the realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. it plays on our knowledge and our senses, particularly with the scenes concerning orton and halliwell and the sets (particularly of their flat with halliwell\'s murals decorating every surface) are terribly well done.'

In [17]:
remove_html_tags(df['review'][1])

'a wonderful little production. the filming technique is very unassuming- very old-time-bbc fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. the actors are extremely well chosen- michael sheen not only "has got all the polari" but he has all the voices down pat too! you can truly see the seamless editing guided by the references to williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. a masterful production about one of the great master\'s of comedy and his life. the realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. it plays on our knowledge and our senses, particularly with the scenes concerning orton and halliwell and the sets (particularly of their flat with halliwell\'s murals decorating every surface) are terribly well done.'

In [18]:
df['review'] = df['review'].apply(remove_html_tags)

In [19]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

### Remove Urls from text

In [20]:
def remove_url(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

In [21]:
text1 = 'check out the dataset https://www.kaggle.com/datasets/'
text2 =' Google search here www.google.com'
text3 = 'For notebook click https://www.kaggle.com/code/campusx/text-preprocessing'

In [22]:
remove_url(text1)

'check out the dataset '

In [23]:
remove_url(text2)

' Google search here '

In [24]:
remove_url(text3)

'For notebook click '

In [25]:
df['review'] = df['review'].apply(remove_url)

In [26]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

### Remove punctuation 
Ex: "Hello! how are you?"
when we tokenize the above sentence 
tokens1 = ["Hello", "!", "how","are", "you", "?"]
tokens2 = ["Hello!", "how","are","you?"]

in tokens1, each punctuation is considered as a token, where punctuation doesnot have any meanings but simply having more vocabulary 

in tokens2, word and punctuation is considered as one token , due to which Hello! and hello will be considered as two different tokens and which again leda to increade in number of unique words

In [27]:
#one way 
import string, time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [28]:
exclude = string.punctuation

In [29]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, '')
    return text

In [37]:
text = df['review'][49996]
start = time.time()
print(remove_punc(text))
time1 = time.time() - start
print(time1)

bad plot bad dialogue bad acting idiotic directing the annoying porn groove soundtrack that ran continually over the overacted script and a crappy copy of the vhs cannot be redeemed by consuming liquor trust me because i stuck this turkey out to the end it was so pathetically bad all over that i had to figure it was a fourthrate spoof of springtime for hitlerthe girl who played janis joplin was the only faint spark of interest and that was only because she could sing better than the originalif you want to watch something similar but a thousand times better then watch beyond the valley of the dolls
0.001001119613647461

In [33]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [38]:
start = time.time()
print(remove_punc1(text))
time2 = time.time() - start
print(time2)

bad plot bad dialogue bad acting idiotic directing the annoying porn groove soundtrack that ran continually over the overacted script and a crappy copy of the vhs cannot be redeemed by consuming liquor trust me because i stuck this turkey out to the end it was so pathetically bad all over that i had to figure it was a fourthrate spoof of springtime for hitlerthe girl who played janis joplin was the only faint spark of interest and that was only because she could sing better than the originalif you want to watch something similar but a thousand times better then watch beyond the valley of the dolls
0.0

In [40]:
df['review'] = df['review'].apply(remove_punc1)